@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

input, select, textarea {
  border: 1px solid #4b5563;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border-color: #3b82f6;
}